<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
 xmlns:py="http://genshi.edgewall.org/" py:strip="">
 <py:match path="head" once="true">
  <head py:attrs="select('@*')">
   <title py:with="_title = list(select('title/text()'))">
    ${_title}
    <py:choose test="defined('title')">
     <py:when test="True">
      ${title}
     </py:when>
     <py:otherwise>
      <py:if test="defined('page')">${page['name']}</py:if>
     </py:otherwise>
    </py:choose>
    :: ${environ.site["name"]}
   </title>
   <meta name="description" content="${environ.site['description']}" />
   <meta name="keywords" content="${environ.site['keywords']}" />
   <meta name="author" content="${environ.site['author']}" />
   <meta http-equiv="Content-Type"
    content="application/xhtml+xml; charset=utf-8" />
   <py:if test="defined('page')">
    <link py:if="'feed' in page" rel="alternate" title="${page['name']}"
     href="${page['feed']}" type="application/xml" />
   </py:if>
   <link rel="stylesheet" title="Normal" type="text/css" media="screen"
    href="${environ.staticurl('css/screen.css')}" />
    <link rel="stylesheet" type="text/css"
     href="${environ.staticurl('css/pygments.css')}" />
   <link py:for="stylesheet in environ.stylesheets" rel="stylesheet"
    type="text/css" href="${environ.staticurl(stylesheet)}" />
   <py:if test="defined('page')">
    <style type="text/css">
     #menu li a[href="/${page['name']}"] {
     	background : #ffffff;
     	border : 1px solid #2b548c;
     	border-bottom : 1px solid #ffffff;
     	color : #437fda;
     }
     #menu li a[href="/${page['name']}"]:hover {
     	background : #ffffff;
     	color : #ba8f43;
      }
    </style>
   </py:if>
   ${select('*[local-name()!="title"]')}
	 </head>
 </py:match>
 <py:match path="body" once="true">
  <body py:attrs="select('@*')">
	 	<div id="main">
	 		<div id="header">
     <py:choose test="defined('page') and 'backlinks' in page">
      <py:when test="True">
       <h1><a title="View BackLinks for ${page['name']}"
        href="${page['backlinks']}">${page["name"]}</a></h1>
      </py:when>
      <py:otherwise>
       <py:choose test="defined('title')">
        <py:when test="True">
         <h1>${title}</h1>
        </py:when>
        <py:otherwise>
         <py:if test="defined('page')"><h1>${page['name']}</h1></py:if>
        </py:otherwise>
       </py:choose>
      </py:otherwise>
     </py:choose>
     <div id="search">
      <form class="search" action="${environ.url('/+search')}">
       <input id="q" name="q" size="18" />
       <button type="submit">Search</button>
		    </form>
     </div>
	 		</div>
    <div id="menu">
     ${environ.include("SiteMenu")}
    </div>

    <div id="content">${select('*|text()')}</div>

    <div id="ctxnav" py:if="defined('ctxnav')">
     <ul>
      <li py:for="text, href in ctxnav"><a href="${href}">${text}</a></li>
     </ul>
    </div>

	 		<div id="footer">
     <p>Powered by
     <a href="http://sahriswiki.org/">sahriswiki - $environ.version</a></p>
    </div>
	 	</div>
	 </body>
 </py:match>
</html>
