html * { margin: 0px; padding: 0px; outline: none; }
body {  margin: 0px; padding: 0px; outline: none; background-color: #fcfcfc; }

a {
	color : #437fda;
	text-decoration : none;
}
a:visited {
	color : #437fda;
	text-decoration : none;
}
a:hover {
	color : #437FDA;
}

html {
	color : #565656;
	font : 70%/170% sans-serif;
	text-align : justify;
}

img {
	margin : 1em 1em 0 1em;
}
img.left {
	float : left;
	margin : 1em 1em 0 0;
}
img.right {
	float : right;
	margin : 1em 0 0 1em;
}

/* blockquote {
	font-style : italic;
	margin : 1em 1em 0 1em;
	padding : 0 0 1em 0;
}
blockquote span {
	font-size : 200%;
	line-height : 1%;
	margin : 0 0.15em;
	position : relative;
	top : 0.25em;
} */

blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';}
blockquote{background-color:#f8f8f8;border-left:2px solid #eaeaea;color:#111;font-style:italic;margin:0 0 9px;padding:7px;}

form button {
	background : #f8f8f8;
	border : 1px solid #cfcfcf;
	padding : 0.25em;
	margin : 0 0 0 0.75em;
}
form input {
	border : none;
	width : 100%;
}
form textarea {
	border : none;
	width : 100%;
	height : 100%;
}
form p.button {
	text-align : right;
	margin-right: 1em;
	padding-top: 7px;
	margin-bottom: 7px;
}
form p.input,
form p.text {
	background : #ffffff;
	border : 1px solid #cfcfcf;
	padding : 0.25em;
	margin : 0.25em 1em 0 1em;
}
form h4 { margin-left: 1em; margin-top: 7px; }

p {
	font-family: Helvetica;
	font-size: 14px; line-height: 20px; 
	/* padding : 1em 1em 0 1em; */
	margin-bottom: 18px; 
}

span.highlight {
  background-color: #ffff00;
}

#content ul,
#content ol {
	padding : 1em 1em 0 3em;
	padding-top: 0px; 
	margin-bottom: 15px;
}

#content li { font-family: Helvetica; font-size: 12px; line-height: 16px;  }

/* code, pre {
    font-size: 12px;
    white-space: pre-wrap;
    line-height: 16px;
    color: #666;
    font-family: Lucida Console, Lucida Typewriter, monospace;
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 1.75em 0;
    padding: 8px;and
    overflow: auto;
    font-weight: normal;
} */

code, pre {
	background-color:#F4F8F9;
	border-bottom:1px solid #E6F0F2;
	border-top:1px solid #E6F0F2;
	color:#3e5867;
	display:block;
	font-size:12px;
	
	line-height:19px;
	/* margin:0 -28px; */
	margin: 1.75em 0;
	padding: 8px;
	text-shadow:0px 1px 0px #fff;
	white-space: pre-wrap;
	line-height: 15px; 
	overflow: auto;
	font-weight: normal;
}

code { display: inline; padding: 0px; background-color: transparent; border: none; }
img.smiley {
 vertical-align: baseline;
}

table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px; 
}

td { padding: 2px; }

#main {
	margin : auto;
	max-width : 65em;
	min-width : 40em;
	width : auto !important;
	width : 65em;
}

#header {
	/* background : #2b548c url('../img/header_bg.png') repeat-x bottom left; */
	/* padding : 6em 4em 1em 4em; */
	padding-top: 20px;
	
    overflow: auto;
}
#header h1 {
	color : #20b;
	font-family: Helvetica;
	font-size: 24px; font-weight: bold; margin-bottom: 20px;
    float: left;
    position: relative;
}
#header h1 a {
	color : #437FDA;
}
#header h1 a:hover {
	color : #437FDA;
}

#search {
  float: right;
  position: relative;
  text-align: right;
}

#search form input {
  width: 50%;
  background : #ffffff;
  border : 1px solid #cfcfcf;
  padding : 0.35em;
  margin : 0;
}

#search form button {
  background : #ffffff;
  border : 1px solid #cfcfcf;
  padding : 0.35em;
  margin : 0;
  text-align: right;
}

#menu {
	background : #fcfcfc;
	border-bottom : 1px solid #2b548c;
	font-family: Helvetica;
	font-size: 12px;
}
#menu ul {
	padding : 7px 25px;
}
#menu li {
	display : inline;
}
#menu li a {
	color : #00c;
	padding : 0.75em 1.5em;
}
#menu li a:hover {
	background : #c1d7ff;
	color: #00c;
	border : 1px solid #2b548c;
    border-bottom : 1px solid #c1d7ff;
}

#metanav {
    text-align: right;
}
#metanav li {
    font-family: Helvetica;
    font-size: 11px;
    line-height: 14px;
    height: 18px;
	display : inline;
	padding-right: 2px;
	padding-left: 2px;
	text-align: right;
}
#metanav li a {
    text-decoration: none;
    /* border-bottom: 1px dotted #2b548c ; */
    font-family: Helvetica;
    font-size: 11px;
    margin-left: 5px;
}

#metanav li a:hover { border-bottom: 1px dotted #2b548c; }

#content {
	border-bottom : 1px solid #cfcfcf;
	height : auto !important;
	height : 1%;
	overflow : hidden;
	padding : 0px;
	padding-top: 10px;
	margin-bottom: 5px;
}
#content div {
	padding : 0 4em 2em 4em;
}

#ctxnav {
    text-align: left;
	font : 85% sans-serif;
}
#ctxnav li {
	display : inline;
}
#ctxnav li a {
	padding : 0.75em 0.5em;
}


h1, h2, h3, h4 {
	font-family: Helvetica; color: #333;
	font-weight: bold;
	/* padding : 1em 1em 0 1em;	 */
}

h1 { font-size: 24px; line-height: 26px; margin-bottom: 15px; }
h2 { font-size: 18px; line-height: 20px; margin-bottom: 10px; }
h3 { font-size: 16px; line-height: 18px; margin-bottom: 10px; }
h4 { font-size: 14px; line-height: 16px; margin-bottom: 5px; }

div.left {
	left : -1em;
	float : left;
	position : relative;
	width : 50%;
}
div.right {
	margin-left : 1em;
	float : right;
	position : relative;
	width : 50%;
}

#content div.sidebar { 
	margin-left: 1em;
	float: right;
	position: relative;
	width: 30%;
	padding: 0px; 
	margin-right: 10px;
}

div.sidebar p { font-size: 12px; test-align: justify; margin-bottom: 10px; }
div.sidebar h4 { font-size: 14px; font-weight: bold; margin-bottom: 10px; }
div.sidebar ul { margin-bottom: 5px; margin-top: 5px; padding: 0px; }
br.clearside { clear: right; }
#footer {
	font-size : 85%;
	margin : auto;
	padding : 1em 0 3em 0;
	text-align : center;
	width : 65%;
}

#content #breadcrumb { padding: 0px; margin: 0px; margin-bottom: 8px; }
#breadcrumb p { font-size: 11px; font-family: Helvetica; text-align: left; margin-bottom: 2px; line-height: 12px; }
#breadcrumb p span a { font-size: 11px; font-family: Helvetica; text-decoration: none; margin-right: 5px; }
#breadcrumb p span a:hover { text-decoration: underline; }

#content div.highlight { padding: 0px; } 

hr { margin-bottom: 10px; }

fieldset { padding: 5px; }